.quotes {
    color: white;
    padding-block-start: 7.8%;
    /*padding-inline-start: 19%;
    padding-inline-end: 0%;*/
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    float:left; 
    background:Red;
    width:50%;
    height:500px;

}

.images {
    padding-block-start: 7.8%;
    float:right; 
    width:50%;
    height:500px;
}

img {
    width: 100%;
    height: 100%;
}

h2 {
    color: #04AA6D;
    padding-inline-start: 45%;
    padding-block-start: 45%;
    font-size: xx-large;
}

#serviceimg {
    padding-block-start: 5%;
    padding-inline-start: 17%;
}

.leftbox {
    float:left; 
    background:Red;
    width:50%;
    height:500px;
}
.rightbox{
    float:right; 
    background:Green;
    width:50%;
    height:500px;
}