.quotes {
    color: white;
    padding-block-start: 7.8%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    float:left; 
    width:50%;
    height:390.5px;
    padding-top: 15%;
    font-size: larger;
}

h3 {
    padding-left: 25%;
    
}

.images {
    padding-block-start: 7.8%;
    float:right; 
    width:50%;
    height:500px;
}

img {
    width: 100%;
    height: 100%;
}

h2 {
    color: #04AA6D;
    padding-inline-start: 42%;
    padding-block-start: 48%;
    font-size: xx-large;
}

#serviceimg {
    padding-block-start: 5%;
}

.leftbox {
    float:left; 
    background:Red;
    width:50%;
    height:500px;
}
.rightbox{
    float:right; 
    background:Green;
    width:50%;
    height:500px;
}