
<div class="container">
    <div id="boxhome" class="text-center">
        <div class="quotes">
            <h3>HEY, WHAT'S UP?  HOW'S BUSINESS?</h3><br><br>
            <h3>YOU KNOW WHAT,</h3><br><br>
            <h3>LET ME HELP YOU DIGITALIZE IT!</h3><br><br>
            <h3>UPGRADE YOUR BUSINESS</h3><br><br>
            <h3>TO THE NEXT LEVEL NOW!</h3><br><br>
        </div>
        <div class="images">
            <img src="assets\images\firstimage.jpg">
        </div>
    </div>
    <div class="service">
        <h2>OUR SERVICES</h2>
    </div>
    <img id="serviceimg" src="assets\images\services.jpg">
    <div id="box" class="text-center">
        <div class="leftbox">
            <img src="assets\images\aboutus.jpg">
        </div>
        <div class="rightbox">
            <h1>ABOUT US</h1>
            <p id="aboutuspara">GET YOUR BRAND LAUNCHED ONLINE WITH US DAMARAM. 
                WE WILL MAKE YOU HEARD FOR WE MAKE A LOT OF NOISE WHEN HIRED! 
                LET IT BE A BLOG FOR YOUR PROFILE OR CREATING AN ONLINE PRESENCE FOR YOUR BUSINESS YOU WILL UP IN NO TIME.
                REACH OUT TO THE WORLD AND SHOW YOURSELF FOR THE GEM YOU ARE. 
                PACKED AND ARMED WITH THE BEST PRICES AND SERVICES WE ARE WAITING FOR YOUR CALL!</p>
        </div>
    </div>
</div>
