ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:black;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 50px 20px 50px 20px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color:#04AA6D;
  }
  
  .active {
    background-color: #04AA6D;
  }

  .container{
    background-color: black;
  }