
<!-- <div class="jumbotron">
  <h1 class="display-4">DAMARAM</h1>
  <hr class="my-4">
</div>

<div class="container">
  <nav class="nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/addPlayer">Add Player</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/updatePlayer">Update Player</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/deletePlayer">Delete Player</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/viewPlayers">View Players</a>
    </li>
  </nav>
</div> -->




<div class="container">
  <ul>
    <div class="navbar">
      <li style="float:right"><a routerLink="/login">Login</a></li>
      <li><a href="#contact">Contact</a></li>
      <!-- <li><a href="#developer">Developer</a></li>
      <li><a href="#admin">Admin</a></li> -->
      <li><a href="javascript: document.getElementById('box').scrollIntoView(true);">About us</a></li>
      <li><a href="javascript: document.getElementById('boxhome').scrollIntoView(true);">Home</a></li>
    </div>
  </ul>
  <router-outlet></router-outlet>
</div>

