
<!-- <div class="jumbotron">
  <h1 class="display-4">DAMARAM</h1>
  <hr class="my-4">
</div>

<div class="container">
  <nav class="nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/addPlayer">Add Player</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/updatePlayer">Update Player</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/deletePlayer">Delete Player</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/viewPlayers">View Players</a>
    </li>
  </nav>
</div> -->
<html>
<head>
<title>Go Digital With Damaram </title>
  <meta name="description" content="Go Digital And Make The World Notice You! Shout Out Till Your Are Heard! We Will Help You Make The Noise! "/>
  <link rel="canonical" href="https://www.damaram.online"/>
  <meta property="og:title" content="Go Digital With Damaram "/>
  <meta property="og:description" content="Go Digital And Make The World Notice You! Shout Out Till Your Are Heard! We Will Help You Make The Noise! "/>
  <meta property="og:url" content="https://www.damaram.online"/>
  <meta property="og:site_name" content="Damaram"/>
  <meta property="og:type" content="website"/>
  <meta name="google-site-verification" content="7OH0Sa2DE4b6uQcCqRQ_MlyJTYEWSx6V41X-0yhs4xo"/>
  <meta name="twitter:card" content="summary_large_image"/>
  <meta name="twitter:title" content="Go Digital With Damaram "/>
  <meta name="twitter:description" content="Go Digital And Make The World Notice You! Shout Out Till Your Are Heard! We Will Help You Make The Noise! "/>
  <link rel="preload" as="font" type="font/woff2" href="//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/64017d81-9430-4cba-8219-8f5cc28b923e.woff2" crossorigin>
</head>

<div class="container">
  <router-outlet></router-outlet>
</div>

</html>