<div class="sidebar">
    <!-- <a href="javascript: document.getElementById('profile').scrollIntoView(true);">PROFILE</a> -->
    <a routerLink="/adminhome">PROFILE</a>
    <a routerLink="/users">USERS</a>
    <a routerLink="/developers">DEVELOPERS</a>
    <a routerLink="/home">SIGNOUT</a>
</div>

<div class="content">
    <section id="profile">
        <div class="col-lg-12 col-md-12 col-sm-12 py-5" id="profileid">
            <div class="flip-card col-md-12 col-sm-12 mx-auto">
                <div class="flip-card-inner">
                  <div class="flip-card-front">
                    <img src="assets\images\profile.png" class="img-fluid" alt="Avatar" style="width:500px;height:500px;">
                  </div>
                  <div class="flip-card-back">
                    <h1>Admin</h1>
                    <p>I created this Project</p>
                    <p>I will develop all the features</p>
                  </div>
                </div>
              </div>
        </div>
    </section>
  </div>