/* ----side bar------ */

.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    /* background-color: #4BD1A0; */
    background-color: #FF9C00;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
  
  .sidebar a:hover {
    background-color: #4BD1A0;
    color: white;
}

@media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }

  .content {
    margin-left: 200px;
}

/* ------users CRUD------ */

#users {
    min-height: 81.5vh;
    display: flex;
    justify-content: center; 
    align-items: center;
    background-color: black;
    /* padding-top: 10%; */
  }

  #users .card{
    border: none;
    /* background-color: transparent; */
    background-color: #748175;
    border-radius: 0.9375rem;
    padding-top: 40px;
    border-radius: 0.9375rem;
    width: 350px;
    height: 250px;
    /* object-fit: cover;
    transition: 1s; */
  }

  /* h3 {
    color:#4BD1A0; 
  } */

  #pt-3 h3 {
    color:yellow;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
    font-weight: bolder;
  }
  
  .card-body .btn {
    background-color: #03af0c;
  }
  
  #pt-3 p {
    color: white;
  }
  
  .btn {
    color: black;
    font-weight: bold;
  }